extends ../layouts/navbar
block content
    h1 List all store
    ul.list-group(style='max-width:500px')
        each onestore in store
            li.list-group-item
                a(href="/book/"+onestore.userId)=onestore.storename