extends ../layouts/navbar
block content
  h1 Edit Your Store Name
  form(action='/book/'+user.id+'/storename', method='POST')
    div
      label(for='storename') Store's Name
      input#storename(type='text', name='storename', required='')
    button(type='submit') Edit