html
  head
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
  body
    ul.nav.justify-content-end
      li.nav-item
        a.nav-link.active(href='/home') Home
      li.nav-item
        a.nav-link.active(href='/book') Book
      li.nav-item
        a.nav-link(href='/user/profile') User
      li.nav-item
        a.nav-link(href='/book/liststore/all') Store
      li.nav-item
        a.nav-link(href='#')='Cart('+count+')'
      if user
        li.nav-item.pt-2.pr-3
          b=user.name
        li.bav-item
          a.btn.btn-primary(href='/logout', role='button') Log out
    block content

     