extends ./layouts/navbar
block content
    blockquote.blockquote.text-center
        h1.mb-0 Welcom to book&apos;s world
        p.mb-0
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            p
                | This is just a demo book's app.
        footer.blockquote-footer
            | Someone famous in 
            cite(title='Source Title') Source Title
