extends ../layouts/navbar
block content
  h2.page-header New Book
  if errors   
      each error in errors
          .alert.alert-danger= error
  form(action='/user/new', method='POST', enctype="multipart/form-data")
    .form-item
      label Title
      input(type='text', name='title')
    .form-item
      label Author
      input(type='text', name='author')
    .form-item
      label Page Count
      input(type='number', name='pageCount', min='1')
    .form-item.form-item-no-grow
      label Cover
      input.book-cover.filepond(type='file', name='image')
    .form-item
      label Description
      textarea(name='description')
    .form-row.form-row-end.btn-row
      a.btn.btn-danger(href='/user/profile') Cancel
      button.btn.btn-primary(type='submit') Create
